// @import "~bootstrap/scss/bootstrap";
@import './custom-variables';
@import '~bootstrap/scss/bootstrap';
@import './custom-styles';


.no-outline:focus, 
.no-outline:active{
    outline: 0 !important;
    box-shadow: inset 0 -1px 0 transparent !important;
}


@if(false){
*{
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
}